*~
*.pyc
RemoteSystemsTempFiles/
**/_build/*
build/
dist/
images/
examples/
test_data/
*.egg-info/
*.egg
.eggs/
.snakemake*
.DS_Store
.metadata*
*.bak
**/UnitTestOutput/
archive/
bam/
logs/
output/
.project
**/__pycache__/
